h1 {
  padding-top:10px;
  margin:0;
  text-transform: uppercase;
}

.Edit input, .Edit select, .Edit form button {
  display: block;
  margin: 5px 25px;
}

.item {
  text-align: left;
  margin: 15px 20px;
  padding: 10px 20px;
  background: #303;
}